<%= render partial: "posts/all" %>
  <div class ="main">
    <div class ="image-btn">
      <button type="button" value="Check" onclick="Alert()">
      <img src="/assets/踵.png" style="width:420px;height:420px"></button>
    </div>
  </div>