<%= render partial: "posts/all" %>
  <div class ="main">
    <div class ="image-btn">
      <button type="button" value="Check" onclick="Alert()">
      <img src="/assets/テカリ.png" style="width:320px;height:320px"></button>
    </div>
    <input type="button" value="STOP" onclick="stop()">
  </div>