<!DOCTYPE>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="description" content="ボディメンテナンス">
  <meta name="keyword" content="清潔感, ボディケア, アラート">
  <title>Body Maintenance</title>
  <!--SEO対策のようなもの？-->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Deploy Timer.">
  <meta property="og:description" content="ボディメンテナンス">
  <meta property="og:url" content="サイトURL">
  <meta property="og:image" content="/assets/men.png">
  <!--アイコン画像-->
  <link rel="icon" type="shortcut icon" href="/assets/men.png">
  <!--レスポンシブ対応-->
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <!--CSS-->
  <link href="https://fonts.googleapis.com/css?family=Vollkorn rel="stylesheet">
  <!--Font awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  <!--JavaScript-->
  <link rel="stylesheet" type="text/js" href="js/index.js">	
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/megamenu.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.11/push.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>


<body>
  <div class ="header">
    <div class ="top-border"></div>
    <div class ="wrapper">
      <div class ="top-contents">
        <div class ="left">
          <div class ="nill">
          <!--今は空-->
          </div>
        </div>
        <div class ="title">
          <h1>Deploy Timer.</h1>
        </div>
        <div class ="right">
          <div class ="account">
            <a href ="#"><i class= "far fa-question-circle fa-lg"></i>
            </a>
          </div>
        </div>
      </div>
      <div class ="under-contents">     
        <div class="drop">
          <div class="my-page">Task
          </div>
          <div class ="dropdwn-text">category
          <ul class="dropdwn_menu">
            <li><a href="#">髪</a></li>
            <li><a href="#">眉</a></li>
            <li><a href="#">髭</a></li>
            <li><a href="#">肌</a></li>
            <li><a href="#">目</a></li>
            <li><a href="#">耳</a></li>
            <li><a href="#">鼻</a></li>
            <li><a href="#">口</a></li>
            <li><a href="#">腋</a></li>
            <li><a href="#">ギャラン</a></li>
            <li><a href="#">手爪</a></li>
            <li><a href="#">陰</a></li>
            <li><a href="#">踵</a></li>
            <li><a href="#">足爪</a></li>
          </ul>
          </div>
          <div class="question">Question
          </div>
        </div>  
      </div>
    </div>
    <div class ="bottom-border"></div>
  </div>
  

  <div class ="main">
    <div class ="image-btn">
      <button type="button" value="Check" onclick="Alert()">
      <img src="/assets/外人.png" style="width:170px;height:320px"></button>
    </div>
  
  <script>
    function push(){
      Push.create("デプロイ注意", 
      {
        body: "成長しました。速やかに対応してください。",
        icon: 'casley_logo.png',
        timeout: 5000,
        onClick: function () {
            location.href = 'http://localhost:3000/posts';
            window.focus();
            this.close();
        }
      })    
    }  
   
    var Alert = function(){
    setTimeout(push, 1000);
   }


    function second(){
      Push.create("destroyした？",
      {
        body: "忘れていたなら、処理しなさい。",
        icon: 'apple_logo png'
        
      })
      setTimeout(second, 6000);
    };

      $('.dropdwn-text').hover(function(){
        $("ul:not(:animated)", this).slideDown();
      }, function(){
        $("ul.dropdwn_menu",this).slideUp();
      });
  
  </script>
   
  </div>

  
</body>

</html>