<!DOCTYPE>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="description" content="ボディメンテナンス">
  <meta name="keyword" content="清潔感, ケア, リマインダー">
  <title>Total Maintenance</title>
  <!--SEO対策のようなもの？-->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Deploy Timer.">
  <meta property="og:description" content="ボディメンテナンス">
  <meta property="og:url" content="サイトURL">
  <meta property="og:image" content="https://shougotv.com/wp/wp-content/uploads/2020/01/kohacu.com_001401_20180703-300x300-1.png">
  <!--アイコン画像-->
  <link rel="icon" type="shortcut icon" href="https://shougotv.com/wp/wp-content/uploads/2020/01/kohacu.com_001401_20180703-300x300-1.png">
  <!--レスポンシブ対応-->
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <!--CSS-->
  <link href="https://fonts.googleapis.com/css?family=Vollkorn rel="stylesheet">
  <!--JavaScript-->
  <link rel="stylesheet" type="text/js" href="js/index.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.11/push.min.js"></script>
</head>


<body>
  <header>
    <div class = "top-border"></div>
    <div class = "wrapper">
      <div class = "title-left-content">
        <div class = "categories-box"></div>
      </div>
      <div class = "title">
        <h1>Deploy Timer.</h1>
      <div class = "title-right-contents"></div>  
        <div class = "icon-list">
            <ul class = "icon-list-box">
               <li class = my-item>
                 <a class = "my-time" href = "#">
                   <i class = "time-icon" aria-hidden = "ture"><i>
                 <a>
               <li>
               <li class = "Question-item">
                 <a class = "Q-page" href = "#">
                   <i class = "Q-icon" aria-hidden = "ture"><i>
                 <a>
               <li>
            <ul>
         </div>
         </div>
    </div>
    <div class = "bottom-border"></div>
  </header>

  <main>
    <div class = "image-btn">
      <button type="button" value="Check" onclick="Alert()">
      <img src="/assets/外人.png" style="width:220px;height:390px"></button>
    </div>
  
  <script>
    function push(){
      Push.create("デプロイ注意", 
      {
        body: "成長されました。速やかにdestroyしてください。",
        icon: 'casley_logo.png',
        })    
    }  
   

    var Alert = function(){
    setTimeout(push, 1000);
   }

    function second(){
      Push.create("destroyしましたか？",
      {
        body: "忘れていたなら、すぐアクションしてください。",
　　icon: 'apple_logo png',
      })
    }

    
    setTimeout(second, 9000);

    

       

     
    </script>
   
  </main>


</body>

</html>