<!DOCTYPE>
<html lang="ja">
<head>
  <!--基本-->
  <meta charset="utf-8">
  <meta name="description" content="ボディメンテナンス">
  <meta name="keyword" content="清潔感, ケア, リマインダー">
  <title>Total Maintenance</title>
  <!--SEO対策のようなもの？-->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Total Maintenance">
  <meta property="og:description" content="ボディメンテナンス">
  <meta property="og:url" content="サイトURL">
  <meta property="og:image" content="https://shougotv.com/wp/wp-content/uploads/2020/01/kohacu.com_001401_20180703-300x300-1.png">
  <!--アイコン画像-->
  <link rel="icon" type="shortcut icon" href="https://shougotv.com/wp/wp-content/uploads/2020/01/kohacu.com_001401_20180703-300x300-1.png">
  <!--レスポンシブ対応-->
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <!--CSS-->
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <div class = "title">
      <h1>リマインダーアプリ</h1>
    </div>
  </header>

  <main>
    <div class = "image-btn">
      <button type="button" id="btnPlay"><img src="/assets/images.png
"></button>

    </div>
  </main>

  <script src="jQueryのCDN" type="text/javascript"></script>
  <!--JavaScript-->
  <script src="JSファイルのパス指定" type="text/javascript"></script>
</body>
</body>

</html>