html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
   background-color: whitesmoke;
}

.header {
   height:120px;
   width: 100%;
}

.top-border {
   height: 5px;
   background-color:  #ffcb00;
}

.wrapper {
   height: 130px;
   line-height: 30px;
   font-size: 40px;
   font-family: 'Vollkorn', serif;
   text-align: center;
   color: black;
}

.title {
   height: 30px;
   padding: 25px 15px ;
}



.bottom-border {
   height: 5px;
   background-color:  #ffcb00;
}

.image-btn {  
   margin-top: 70px;
   text-align: center;
   opacity: 0.9;
   border-radius: 5px;
   
}

button {
   border: 0px;
   outline: none;
   padding: 5px 10px;
   text-decoration:none;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  background-color: whitesmoke;
}

button:hover{
   background-color: whitesmoke;
   -webkit-box-shadow:inset 0px 0px 30px whitesmoke;
   -moz-box-shadow:inset 0px 0px 36px whitesmoke;
   box-shadow:inset 0px 0px 50px whitesmoke;
}

button:active{
   background-color: whitesmoke;
   padding-top: 80px;
   padding-bottom: 100px;
   -webkit-box-shadow:inset 0px 0px 30px whitesmoke;
   -moz-box-shadow:inset 0px 0px 20px whitesmoke;
   box-shadow:inset 0px 0px 10px whitesmoke;
}

