/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ここから */
body {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    background-color: white;
}

/* header */
.top-border {
   height: 7px;
   width: 100%;
   background-color:  #ffcb00;
}

.wrapper {
   height: 150px;
   width: calc(100% - 40px);
   padding: 0 20px; 
}

/* top */
.top-contents {
    height: 100px;
    display: flex;
}


.left {
    height: 80px;
    width: calc(100% / 3);
    padding-top: 20px;
}

.nill {
    height: 40px;
    padding: 10px 0 0 30px;
}

span {
    color: black; 
}

.title {
    height: 80px;
    width: calc(100% / 3);
    padding-top: 20px;
}

h1  {
    line-height: 60px;
    text-align: center;
    color: black;
    font-size: 35px;
    font-family: 'Vollkorn', serif;
}

.right {
    height: 80px;
    width: calc(100% / 3);
    padding-top: 20px;
}

.question {
    height: 40px;
    padding: 10px 60px 0 0;
}

span {
    float: right;
    color: black;
    font-size: 0.8em;
    padding-left: 30px;
}

a {
    text-decoration: none;
}

/* under */

.under-contents {
   height: 50px;
   width: calc(100% - 40px);
}

.category {
    padding: 15px 85px;

}

i {
    color: black; 
    font-size: 15px;
}


.bottom-border {
   height: 30px;
   width: 100%;
   color: black;
   font-size: 13px;
   line-height: 30px;
   text-align: center;
   background-color:  #ffcb00;
}


/* main */
.image-btn {  
   margin-top: 700px;
   text-align: center;
   border-radius: 5px;
   
}

button {
   border: 0px;
   outline: none;
   padding: 5px 10px;
   text-decoration:none;
  border-radius:3px;
  background-color: white;
}

button:hover{
   background-color: white;
   -webkit-box-shadow:inset 0px 0px 30px white;
   -moz-box-shadow:inset 0px 0px 36px white;
   box-shadow:inset 0px 0px 50px white;
}

button:active{
   background-color: white;
   padding-top: 80px;
   padding-bottom: 100px;
   -webkit-box-shadow:inset 0px 0px 30px white;
   -moz-box-shadow:inset 0px 0px 20px white;
   box-shadow:inset 0px 0px 10px white;
}

